/*Style sheet for wireless.htm
Jonathon Patrick
9/16/2015*/
body{
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    background-color: #e6e6fa;
}
em{
    color: green;
    font-weight: bold;
}
h3{
    color: maroon;
    text-transform: uppercase;
    text-align: right;
    font-size: 1.3em;
    font-family: Times, Times New Roman, serif;
}
