/*Jonathon Patrick
10/21/2015
Print Styles*/

/*hides elements*/

nav, header{
    display: none;
}

@page{
    size: 8.5in 11in;
    margin: 0.5in;
}

body{
    color: black;
    background-color: white;
    background-image: none;
    font-size: 12pt;
    font-family: "Times new Roman", Times, serif;
    line-height: 120%
}

a{
    text-decoration: underline;
    color: blue;
}

img{
    display: none;
}
